<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Unlock</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1 name="header"><span class="fa fa-anchor"></span> Profile</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h3><span class="fa fa-user"></span> Profile</h3>
                    <div name="profile_info">
                        <p>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>Token</strong>: <%= user.local.credit %><br>
                        </p>
                    </div>
                    <hr>
                    <p>
                        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                        <a href="/addcredit" class="btn btn-default btn-sm">Add Token</a>
                    </p>

            </div>
        </div>
        <div>
        <form action="/readarticle" method="get">
            <div class="form-group">
                <label>Article</label>
                <input type="text" class="form-control" name="article">
            </div>
            <button type="submit" class="btn btn-default btn-sm">Read Article</button>
        </form>
        </div>

    </div>

</div>
</body>
</html>
